<div class="hero-unit">
  <h1>Welcome to Staunchy!</h1>
  </br>
  <p>We're the most random e-ccomerce that you can imagine. Here you can sell all that products that you have but doesn't want anymore. Soon we're gonna provide an interface were you can manage directly your own products, but for now please send the products that you want to sell to <a href="mailto:sales@staunchy.com">sales@staunchy.com</a> and we're gonna sell them for you! 
  </p>
</div>