<%= render partial: "shared/greetings" %>

<!--<div class="row-fluid">-->

<ul class="thumbnails">
  
  <% @categories.each do |category| %>
    
  <li class="span4">
    <div class="thumbnail">
      <img src="http://placehold.it/300x200" alt="300x200" style="width: 300px; height: 200px;">
      <div class="caption">
        <h3><%= category.name %></h3>
        <%= link_to "ver categoria", category_path(category), class: "btn" %>

      </div>
    </div>
  </li>

  <% end %>

</ul>

